<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @list.title %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @list.genre %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'View All Lists', lists_path %>

<% if @list.movies != nil %>
  <% @list.movies.each do |movie| %>
    <h4><%= link_to movie.title.titleize, movie_path(movie) %></h4>
    <% if (movie.tertiary_genre != nil) && (movie.tertiary_genre != "")%>
      <h6> Genres: <%= movie.primary_genre %>, <%= movie.secondary_genre %>, <%= movie.tertiary_genre %></h6>
    <% elsif (movie.secondary_genre != nil) && (movie.secondary_genre != "") %>
      <h6> Genres: <%= movie.primary_genre %>, <%= movie.secondary_genre %> </h6>
    <% elsif (movie.primary_genre != nil) && (movie.primary_genre != "") %>
      <h6> Genre: <%= movie.primary_genre %> </h6>
    <% else %>
      <h6>Genre: No genre listed</h6>
    <% end %>
    <%= link_to 'Remove Movie from List', delete_list_movie_path + "?list_id=#{@list.id}&movie_id=#{movie.id}", :method => 'delete', :data => {:confirm => "Are you sure you want to remove #{movie.title}?"} %>
    <h6> Created on: <%= movie.created_at.strftime('%b %d, %Y') %></h6>

    <br>
  <% end %>
<% end %>
