

<h1 class="text-center">Movies</h1>

<%= form_tag(movies_path, method: :get) do %>
  <%= text_field_tag :title %>
  <%= submit_tag "Search" %>
<% end %>



<% @movies.each do |movie| %>
  <div class="card-group">
    <div class="col-md-4">
      <div class="card card-inverse">
        <%= link_to image_tag(movie.md_img), movie %>
        <br>
        <%= movie.title %>
        </div>
      </div>
    </div>
  <% end %>
<%= will_paginate @movies %>
</div>
