<div class="container">
  <div class="row">
    <h2 class="text-center">Movies</h2>
    <br>
    <div class="col-sm-6 col-md-offset-3">
  <div class="form-group">
  <%= form_tag(movies_path, method: :get) do %>
  <%= text_field_tag :title, nil, class: "form-control" %></br>
  <%= submit_tag "Search", class:"btn btn-notice btn-block" %>
  <% end %>

    </div>
  </div>
</div>

<br>
<br>

  <% @movies.each do |movie| %>
  <div class="card-group">
    <div class="col-md-4">
      <div class="card card-inverse">
        <%= link_to image_tag(movie.md_img, class: "img-responsive"), movie %>
        <h5><%= movie.title %></h5>
      </div>
    </div>
  </div>
  <% end %>
</div>
<div class="text-center">
  <%= will_paginate @movies %>

</div>
