<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-0">
      <%= image_tag @movie.lg_img, class:"img-responsive"%>

      <div class="row">
        <div class="col-md-12">
          <%= render 'add_movie_to_list', lists: @lists %>


          <% if ((@movie.trailer != "") && (@movie.trailer != nil) ) %>
          <i class="glyphicon glyphicon-play-circle"></i>
          <!-- thanks to http://bootsnipp.com/snippets/8Z7b -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="container iframe-modal">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <div class="modal-body">
                <iframe src="<%= @movie.trailer %>" class="iframe" name="info" seamless="" height="100%" width="100%"></iframe>
              </div>
            </div>
          </div>
          <button type="button" class="modalButton btn btn-default" data-toggle="modal"  data-width="0" data-height="0" data-target="#myModal" data-video-fullscreen="">Watch Trailer</button>



      <% end %>

        </div>
        <div class="col-md-12">


        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="row">
        <div class="col-md-12">

          <%= social_share_button_tag(@movie.title, url: movie_path, image: "#{@movie.sm_img}", desc: "You should watch this on Watchable!", via: "Watchable") %>
          <h2><%= @movie.title %></h2>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h3>Description...</h3>
          <h5 class="overview"> <%= @movie.overview %></h5>

          <div class="col-md-5 col-sm-12">
            <p class="rating">Rating: <%= @movie.rating %></p>
          </div>

          <div class="col-md-7 col-sm-12">
            <p class="genres">
              <% if (@movie.tertiary_genre != nil) && (@movie.tertiary_genre != "") %>
                Genres: <%= @movie.primary_genre %>, <%= @movie.secondary_genre %>, <%= @movie.tertiary_genre %>
              <% elsif (@movie.secondary_genre != nil) && (@movie.secondary_genre != "") %>
              Genres: <%= @movie.primary_genre %>, <%= @movie.secondary_genre %>
              <% elsif (@movie.primary_genre != nil) && (@movie.primary_genre != "")%>
                Genre: <%= @movie.primary_genre %>
              <% else %>
                Genre: Not provided
              <% end %>
            </p>
          </div>

          <div class="col-md-7 offset-col-md-2 col-sm-12">
            <% if (@movie.cs_media_link != nil) && (@movie.cs_media_link != "") %>
              <p><%= link_to "Common Sense Media", @movie.cs_media_link %></p>
            <% end %>
          </div>

        </div>

      </div>
          <div class="row">
            <div class="col-md-12">
              <h2>Available on:</h2>

              <% if ((@movie.primary_free_link == "") || (@movie.primary_free_link == nil)) && ((@movie.secondary_free_link == "") || (@movie.secondary_free_link == nil)) && ((@movie.primary_web_source_link == "") || (@movie.primary_web_source_link == nil)) && ((@movie.secondary_web_source_link == "") || (@movie.secondary_web_source_link == nil)) && ((@movie.primary_sub_source_link == "") || (@movie.primary_sub_source_link == nil)) && ((@movie.secondary_sub_source_link == "") || (@movie.secondary_sub_source_link == nil)) %>

                  Cannot be streamed at this time

                <% else %>

                  <% if ((@movie.primary_free_link != "") && (@movie.primary_free_link != nil))%>
                  <div class="col-md-3 col-sm-4 col-xs-6 source-btn">
                    <%= button_to "#{@movie.primary_free_name}", @movie.primary_free_link, :method => "get", class: "btn btn-default" %>
                  </div>
                  <% end %>

                  <% if ((@movie.secondary_free_link != "") && (@movie.secondary_free_link != nil))%>
                    <div class="col-md-3 col-sm-4 col-xs-6 source-btn">
                      <%= button_to "#{@movie.secondary_free_name}", @movie.secondary_free_link, :method => "get", class: "btn btn-default" %>
                    </div>
                  <% end %>

                  <% if ((@movie.primary_web_source_link != "") && (@movie.primary_web_source_link != nil))%>
                    <div class="col-md-3 col-sm-4 col-xs-6 source-btn">
                      <%= button_to "#{@movie.primary_web_source_name}", @movie.primary_web_source_link, :method => "get", class: "btn btn-default" %>
                    </div>
                  <% end %>

                  <% if ((@movie.secondary_web_source_link != "") && (@movie.secondary_web_source_link != nil))%>
                    <div class="col-md-3 col-sm-4 col-xs-6 source-btn">
                      <%= button_to "#{@movie.secondary_web_source_name}", @movie.secondary_web_source_link, :method => "get", class: "btn btn-default" %>
                    </div>
                  <% end %>

                  <% if ((@movie.primary_sub_source_link != "") && (@movie.primary_sub_source_link != nil))%>
                    <div class="col-md-3 col-sm-4 col-xs-6 source-btn">
                      <%= button_to "#{@movie.primary_sub_source_name}", @movie.primary_sub_source_link, :method => "get", class: "btn btn-default" %>
                    </div>
                  <% end %>

                  <% if ((@movie.secondary_sub_source_link != "") && (@movie.secondary_sub_source_link != nil))%>
                    <div class="col-md-3 col-sm-4 col-xs-6 source-btn">
                      <%= button_to "#{@movie.secondary_sub_source_name}", @movie.secondary_sub_source_link, :method => "get", class: "btn btn-default" %>
                    </div>
                  <% end %>

                <% end %>

            </div>
          </div>
        </div>
      </div>
      <!-- <div class="page-header">
        <h3>Reviews<button class="btn btn-primary write-review" type="button">Write a review</button></h3></div>
        <div class="media">
          <div class="media-body">
            <h4>Love this!</h4>
            <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half"></i></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus nisl ac diam feugiat, non vestibulum libero posuere. Vivamus pharetra leo non nulla egestas, nec malesuada orci finibus. </p>
            <p><span class="reviewer-name"><strong>John Doe</strong></span><span class="review-date">7 Oct 2015</span></p>
          </div>
        </div>
        <div class="media">
          <div class="media-body">
            <h4>Fantastic movie</h4>
            <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus nisl ac diam feugiat, non vestibulum libero posuere. Vivamus pharetra leo non nulla egestas, nec malesuada orci finibus. </p>
            <p><span class="reviewer-name"><strong>Jane Doe</strong></span><span class="review-date">7 Oct 2015</span></p>
          </div>
        </div>
      </div>

 -->
      <%= link_to 'Back', movies_path %>

