

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= @user.avatar %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'New List', new_list_path %>

<% @user.lists.each do |list| %>
  <h4><%= link_to list.title.titleize, list_path(list) %></h4>
  <h6> Genre: <%= list.genre %></h6>
  <h6> Created on: <%= list.created_at.strftime('%b %d, %Y') %></h6>
  <br>


  <% end %>

  <hr>

